
:root {
    --color-primary: #7d1400;
    --color-primary-light: #FFE6A7;
    --color-secondary: #BB9457;
    --color-success: #283618;
    --color-success-light: #606C38;
    --color-info: #432818;
    --color-info-light: #99582A;
}