@import 'Palette.css';

.custom-stepper{
    margin-top: 5%;
}

.custom-stepper .css-14j26sj-MuiStepLabel-label {
    color: var(--color-success); 
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

.custom-stepper .css-14j26sj-MuiStepLabel-label.Mui-active {
    color: var(--color-primary); 
    font-weight: bold;
    font-size:medium;
}

.custom-stepper .css-14j26sj-MuiStepLabel-label.Mui-completed {
    color: var(--color-success-light); 
    font-weight: 500;
}

.custom-stepper .css-14j26sj-MuiStepLabel-label.Mui-completed {
    color: var(--color-success-light); 
    font-weight: 500;
}

.custom-icon{
    color: var(--color-secondary);
}

.MuiStepLabel-iconContainer.Mui-active.css-vnkopk-MuiStepLabel-iconContainer .custom-icon{
    color: var(--color-primary);
}

.MuiStepLabel-iconContainer.Mui-completed.css-vnkopk-MuiStepLabel-iconContainer .custom-icon{
    color: var(--color-success-light);
}